* {
  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 400;
  background-color: #fff;
}

body {
  width: 70%;
  min-width: 400px;
  margin: auto;
  border: 1px solid #6f5499;
}

.container {
  color: rgb(61, 70, 77);
  position: relative;
  text-align: center;
  padding: 1.2em, 0, 1.2em, 0;
  width: 70%;
  min-width: 400px;
  margin: auto;
}

.item-container {
  padding-bottom: .6em;
  list-style: none;

}

.item-link{
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 300;
}

.page-headers{
  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 900;
  text-align: center;
  color: #6f5499;
}

hr {
  color: rgb(86, 61, 124);
}

.nav-bar{
  font-size: .8em;
  text-align: right;
  word-spacing: .5em;
  margin-right: .3em;
  padding-top: .3em;
}

.nav-links{
  text-decoration: none;
  font-weight: 900;

}