
<h1>Add a new item for Auction</h1>


<form method="post" action="/add">
  <input type="text" name="item_title" placeholder="Title">
  <input type="text" name="item_description" placeholder="Description">
  <input type="date" name="start_date" placeholder="Starting Date">
  <input type="date" name="end_date" placeholder="Ending Date">
  <input type="hidden" name="id" value="<%=session[:id]%>">
  <input type="submit" value="List">
</form>
</div>
