
<h1>Add Item</h1>
<div>
    <% if @errors%>
    <%= @errors%>
    <% end %>
  <form method="post" action="/add_item">
    <label for="name">Name: </label>
    <input type="text" name="item[name]" placeholder="Name">
    <br>
    <label for="name">Cost: </label>
    <input type="text" name="item[cost]" placeholder="Cost">
    <br>
    <label for="name">Description: </label>
    <input type="text" name="item[description]" placeholder="Description">
    <br>
    <label for="name">Start Date: </label>
    <input type="text" name="item[start_date]" placeholder="YYYY-MM-DD">
    <br>
    <label for="name">Stop Date: </label>
    <input type="text" name="item[stop_date]" placeholder="YYYY-MM-DD">
    <br>
    <input type="submit" value="Add Item">
  </form>
</div>


