
<h1>Add Item</h1>
<div>
  <form method="post" action="/add_item">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="cost" placeholder="Cost">
    <br>
    <input type="text" name="description" placeholder="Description">
    <br>
    <input type="text" name="start_date" placeholder="YYYY-MM-DD">
    <br>
    <input type="text" name="stop_date" placeholder="YYYY-MM-DD">
    <br>
    <input type="submit" value="Add Item">
  </form>
</div>


