<h1>This is the homepage</h1>

<% if session[:user_id] != nil %>
  <a href="/logout">Logout</a>
  <a href="/profile/<%= session[:user_id] %>">View profile</a>

<% else %>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
<% end %>

<hr>

<h1>Here are all the items to bid on</h1>

<% @item.each do |item| %>

<!-- some logic here to display only ones within time limit.. Datetime.new -->

  <a href="/item/<%= item.id %>"> <%= item.name %> </a>
  <br>
  <br>

 <% end %>
