
<div class="list">
<h1>Items for Sale</h1>

  <% @item.each do |item| %>
  <!-- if Time.now is between start_date and end_date -->
  <!-- .to_i turns a time into an int and I can compare!!! -->
    <% if (@time > item.start_date.to_i) &&
      (@time < item.end_date.to_i) %>

      <li><a href="/item/<%= item.id %>"> <%= item.name %> -by: NAME NEEDED </a></li>
    <% end %>
  <% end %>
</div>
