<div class="container">
<h1>Steven's Auction App</h1>

 <% if session[:email] %>
    <h1> Welcome back <%= session[:email] %> </h1>
    <form method="post" action="/logout">
      <input type="submit" value="Logout">
    </form>
  <% else %>
    <form method="post" action="/login">
      <input type="text" name="user[email]" placeholder="email">
      <input type="password" name="user[password]" placeholder="password">
      <input type="submit" value="Login">
    </form>
    <h3>or <a href="/register">Register</a></h3>
  <% end %>


</div>