<div>

  <% if session[:id] == nil%>
    To place a bid please logon or register:
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <ul>
      <% @items.each do |q| %>
        <li>
          Item: <%= q.item_title %><br>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if session[:id]%>
    <a href="/logout">Log Out</a>
    <a href="/profile">User Profile Page</a>
    <ul>
      <br>
      <% @items.each do |q| %>
        <li>
          Item: <a href="/bid/<%=q.id%>"><%= q.item_title %><br></a>
          Description: <%= q.item_description %>
        </li><br>
      <% end %>
    </ul>
  <% end %>

</div>


