<h2>Come to bid all your moneyyyyyy</h2>

<% if session[:user_id] %>
  <form method='post' action='/index'>
    <input type='submit' value='logout'>
  </form>

  <a href="/profiles/<%= session[:user_id] %>"><button>profile page</button></a>
<% else %>
  <a href='/login'><button>login</button></a>
  <a href='/register'><button>register</button></a>
<% end %>

<% if session[:user_id] %>
  <h4>Your Items</h4>
    <% @items.each do |item| %>
      <% if item.seller_id == session[:user_id] %>
        <%= item.name %></br>
      <% end %>
    <% end %>

  <h4>Your Bids</h4>
    <% @items.each do |item| %>
      <% if item.bidder_id == session[:user_id] %>
        <%= item.name %></br>
      <% end %>
    <% end %>
<% end %>
