<div class="container">

<% if session[:id] == nil%>
 To place a bid please logon or register:
 <a href="/logon">Logon</a>
<a href="/register">Register</a>
<% end %>

<% if session[:id]%>
  <form method="post" action="/logout">
    <input type="submit" value="Logout">
  </form>
  <a href="/profile">User Profile Page</a>
<% end %>

<ul>
  <% @items.each do |q| %>
    <li>
      Item: <%= q.item_title %><br>
    </li>
  <% end %>
</ul>

</div>


