<h2 class='page-headers'> Current Active Items </h2>
<hr>
<div class = 'container'>
  <ul>
    <% @items.each do |item|  %>
      <% if item.start_date.past? == true && item.end_date.past? == false  %>
        <li class='item-container'><a class='item-link' href="../items/<%= item.id %>"><%= item.name %></a></li>
      <% end %>
    <% end %>
  </ul>
</div>
