<html>
<head>
  <title></title>
</head>
<body>
Make a new item for auction

<form method="post" action "/users/homepage/items/new">
  Title:<br>
  <input type="text" name="name">
  <br>
  Description:<br>
  <input type="text" name="description">
  When would you like the auction to begin?
  <input type="text" name="auction_begin">
  When would you like the auction to end?
  <input type="text" name="auction_end">

<input type="submit" value="make a new item">
</form>

</body>
</html>
