

<br>
  <form action="/item/new" method="post" id="userform">
    <li>Item Name : <input type="text" name="name"></li>
    <hr>
    Description <textarea name="description" form="userform"></textarea>
    <hr>
    <li> Starting Bid : <input type="text" name="price"></li>

    <li> When to start the bidding ? <input type="text" name="start_date"placeholder="start date"></li>

    <li> When to end the bidding ? <input type="text" name="end_date" placeholder="end date">
    <li><input type="submit" value="Submit">
</form>

