<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,900' rel='stylesheet' type='text/css'>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class='nav-bar'>
    <a class='nav-links' href="/">Home</a>
    <% if session[:id] %>
      <a class='nav-links' href="/users/profile">Profile</a>
      <a class='nav-links' href="/users/logout">Logout</a>
    <% else %>
      <a class='nav-links' href="/users/new">Register</a>
      <a class='nav-links' href="/users/login">Login</a>
    <% end %>
  </div>
  <hr>
  <%= yield %>
</body>
</html>
