
<p> Hello, Please Login -- (To Register: Click Link Below) </p>

<form action="/login" method="post">
  Username:<br>
  <input type="text" name="username" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
<br><br><br>

<a href="/register"><button>Register</button></a>
