<% if @errors %>
  <div class="errors">
    <div><%= @errors%></div>
  </div>
<% end %>

<h3>Log in to your existing account below</h3>
<br>
<br>
<form action='/session' method='post'>
  <label for="email">Email</label>
  <input type='text' name='email'><br>
  <label for="password">Password</label>
  <input type='password' name='password'><br>
  <input type='submit' value='Log in'>
</form>
