<h2>Please Login before proceeding</h2>

 <a href='/index'><button>home</button></a>

<form method='post' action='/login'>
  <input type='text' name='user' placeholder='user name'>
  <input type='password' name='password' placeholder='password'>
  <input type='submit' value='login!'>
</form>

<% if @error %>
  <h4>Username or password incorrect! Please try again.</h4>
<% end %>
