<form action="/login" method='post'>
  User Name:<br>
  <input type="text" name="username" placeholder="User Name">
  <br>
  Password:<br>
  <input type="password" name="password" placeholder="Password">
  <br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>
