<div>
  <h1>Login</h1>

    <% if @errors %>
      <%= @errors %>
    <% end %>
  <br>
  <form action="/login" method="post">
    <input placeholder="Username" name="username">
    <br>
    <br><br>
    <input placeholder="Password" type="password" name="password_hash">
    <br>
    <br>
    <input type="submit">
  </form>

</div>
