<h2>Please signup to get more awesome access</h2>

<form method='post' action='/register'>
  <input type='text' name='user'>
  <input type='password' name='password'>
  <input type='submit' value='signup!'>
</form>
<%= @error %>
<% if @error %>
  <h4>Someone has already used this username or password length incorrect! Please try again.</h4>
<% end %>
