<div class="register">
  <h1>Register</h1>

  <form action="/new" method="post">
    <input placeholder="Username" name="username">
    <br>
    <% if @errors %>
      <%= @errors[:username] %>
    <% end %>
    <br><br>
    <input placeholder="Password" type="password" name="password">
    <br>
    <% if @errors %>
      <%= @errors[:password] %>
    <% end %>
    <br>
    <input type="submit">
  </form>

</div>
