<div class='container'>

  <div class='form-island '>

    <form method="post" action="/users/login">
      <input class='input-field' type="text" name="user[username]" placeholder="Username">
      <br>
      <input class='input-field' type="password" name="user[password]" placeholder="Password">
      <br>
      <input class='submit-button hvr-wobble-vertical' type="submit" value="Login">
    </form>

    <br>

    <% if flash[:error] %>
      <span class='error-message hvr-buzz-out'><%= flash[:error] %></span>
      <% flash[:error] = nil %>
    <% end %>

  </div>
</div>
