<div class='container'>
  <form method="post" action="/users/login">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Login">
  </form>
</div>
