<h1>Registration</h1>

<form method="post" action="/users/register">
  <input placeholder="Enter Username" name="user[username]" type="text">
  <input placeholder="Enter Password" name="user[password]" type="password">
  <input type="submit" value="Create an Account">
</form>
