<% if @form_error %>
  <%= @form_error %>
<% end %>

<form method="post" action="/users/signup" id="login_form">
  <input name="username" placeholder="username" type="text">
    <input name="password" placeholder="password" type="password"><br>
    <input type="submit" value="Sign up!">
</form>
