<h3>list a new item</h3>
<form method="post" action="/items">
  <input type="text" placeholder="title" name="item[title]"><br>
  <input type="text" placeholder="details" name="item[detail]"><br>
  <input type="text" placeholder="condition" name="item[condition]"><br>
  <input type="text" placeholder="start date" name="item[start_date]"><br>
  <input type="text" placeholder="end date" name="item[end_date]"><br>
  <input type="submit" value="submit">
</form>