<h3>Item name: <%= bidded_item.title %></h3><br>
<h3>Item seller: <%= bidded_item.user.username %></h3><br>
<a href="#">delete bid</a><br>
<a href="#">edit bid</a>
<h3>you are logged in as: <%= current_user.username %></h3>